@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

#fernverkehr rect {
    stroke: black;
    fill: white;
    rx: 5;
    stroke-width: 2;
}

#elements .helper {
    stroke: none;
    fill: none;
    visibility: hidden;
    opacity: 0;
}

#fernverkehr path, #itf path {
    stroke: black;
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#fernverkehr path {
    stroke: #546E7A !important;
    opacity: 0.5;
}

#itf path {
    stroke-width: 2;
}

#itf rect {
    stroke: #546E7A;
    fill: #546E7A;
    stroke-width: 5;
}

#fernverkehr text, text.caption {
    visibility: hidden;
    fill: black;
    text-shadow: 1px 1px 2px white;
    
}

svg {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 16px;
}


#elements .e12h {
    stroke-width: 12;
}

#elements .e1h {
    stroke-width: 6;
}

#elements .e2h {
    stroke-width: 4;
}

#elements .e4h {
    stroke-width: 2;
}

#elements .some {
    stroke-width: 2;
}

#epoch-label-bg {
    fill:white;
    stroke: black;
    stroke-width: 5px;
    visibility: hidden;
}

#custom-epoch-label {
    font-size: 70px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
    visibility: hidden;
}

.for-line {
    overflow: visible;
    white-space: nowrap;
    font-weight: bold;
}

.for-line * {
    display: inline-block;
}

.for-line div * {
    border-radius: 50%;
    width: 12px;
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
    margin-right: 2px;
    text-align: center;
}

image.cover {
    x: 15300px;
    y: 9700px;
    width: 1920px;
    height: 1080px;
    visibility: hidden;

}

.caption {
    text-anchor: end;
    dominant-baseline: hanging;
}

#border {
    stroke:#808080;
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}
/*
#epoch-label, #epoch-label-bg, text, foreignObject {
    display: none !important;
}
*/

#regionalverkehr rect {
    visibility: visible !important;
    opacity: 1 !important;
    stroke: none;
    fill: black;
    rx: 6;
}
#regionalverkehr.diff rect.diff-e15m {
    fill: #F44336;
}
#regionalverkehr.diff rect.diff-e30m {
    fill: #D32F2F;
}
#regionalverkehr.diff rect.diff-e1h {
    fill: #C62828;
}
#regionalverkehr.diff rect.diff-e2h {
    fill: #B71C1C;
}
#regionalverkehr.diff rect.diff-some {
    fill: black;
}

#regionalverkehr.dtakt rect.dtakt-e15m {
    fill: #F44336;
}
#regionalverkehr.dtakt rect.dtakt-e30m {
    fill: #B71C1C;
}
#regionalverkehr.dtakt rect.dtakt-e1h {
    fill: #3F51B5;
}
#regionalverkehr.dtakt rect.dtakt-e2h {
    fill: #1A237E;
}
#regionalverkehr.dtakt rect.dtakt-some {
    fill: black;
}
#regionalverkehr text.for-station {
    font-size: 30px;
    dominant-baseline: middle;
}
#regionalverkehr.diff #legend {
    opacity: 0;
} 

#itf path {
    opacity: 1;
}

#itf .itf-label {
    font-size: 30px;
    text-anchor: middle;
}

#itf path.train.ICE {
    stroke: #cbd0cc;
    stroke-width: 10;
    marker-end: url(#ice-end);
    marker-start: url(#ice-start);
    marker-mid: url(#panto);
}

#itf path.train.Regio {
    stroke: #B71C1C;
    stroke-width: 10;
    marker-end: url(#regio-end);
    marker-start: url(#regio-start);
    marker-mid: url(#panto);
}


.panto { 
    stroke: #2e3032;
    stroke-width: 10;
}

.train-start {
    fill:#f7b500;
}
.train-end {
    fill: #ff2d21;
}
.lamp {
    fill: inherit;
}
.bumper, .black-windscreen {
    fill:#2e3032;
}
.trafficred {
    fill:#B71C1C;
}
.windowgrey, .windscreen {
    fill:#9da3a6;
}
.lightgrey, .icebody {
    fill:#cbd0cc;
}
.bluegrey, .cap {
    fill: #5b686d;
}




.edge {
    stroke-width:2px;
    stroke: #212121;
}

.edge.selected {
    stroke: #B71C1C;
    stroke-width: 4px;
}

.highlight-station-edges .edge.selected.station-edge {
    stroke-width: 10px;
}

.edge-toucharea {
    stroke-width: 20px;
    stroke: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.redundant-true {
    stroke: #dbdbdb;
    marker-start: url(#dot-redundant-true);
    marker-end: url(#dot-redundant-true);
}

.redundant-false {
    marker-start: url(#dot-redundant-false);
    marker-end: url(#dot-redundant-false);
}

#dot-redundant-true circle {
    stroke: none;
    fill: #dbdbdb;
}

#dot-redundant-false circle {
    stroke: none;
    fill: #212121;
}

.station-label {
    text-anchor: middle;
}

.time-label {
    text-anchor: end;
}
.time-label, .station-label {
    font-size: 30px;
}


.barchart path {
    stroke: #B71C1C;
    stroke-width: 15;
    visibility: hidden;
    transform: translate(0, -1px);
    stroke-linecap: butt;
    stroke-linejoin: butt;
}

.barchart path.secondary {
    stroke: #546E7A;
}


.barchart text {
    text-anchor: end;
    dominant-baseline: middle;
    visibility: hidden;
}

.barchart text.path-inset{
    text-anchor: middle;
    fill:white;
    font-size: 10px;
    font-weight: bold;
}

.barchart text.path-outset {
    text-anchor: start;
    fill:black;
    font-size: 10px;
    font-weight: bold;
}

text.heading {
    text-anchor: middle !important;font-size:20px;font-weight: bold;
}

text.subheading {
    text-anchor: middle !important;
    font-weight: bold;
    font-size:18px;
}
.barchart text.label {
    font-weight: bold;
    fill: #B71C1C;
}

.barchart text.label.secondary {
    fill: #546E7A;   
}

.barchart text.label.big {
    font-weight: normal;
    font-size:20px;
    text-anchor: middle !important;
}

.barchart text.right{
    text-anchor: start;
}

.linechart-label {
    visibility: hidden;
}
.linechart-label * {
    font-weight: normal;
    font-size:400px;
    text-anchor: start !important; 
    dominant-baseline: middle;
}

.sectorline {
    visibility: hidden;
}
