@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/*#elements rect {
    stroke: black;
    fill: white;
    rx: 5;
    stroke-width: 2;
}*/

rect.station {
    stroke: #263238;
    fill: white;
    rx: 5;
    stroke-width: 2;
}

#elements rect.helper, #elements path.helper {
    stroke: none;
    fill: none;
}

path {
    stroke: #263238;
    fill: none;
    /*stroke-linecap: round;*/
    stroke-linejoin: round;
}

.unit path {
    stroke: none;
}

path.train.ICE {
    stroke: #cbd0cc;
    stroke-width: 6;
    marker-end: url(#ice-end);
    marker-start: url(#ice-start);
    marker-mid: url(#panto);
}

path.train.IC {
    stroke: #9da3a6;
    stroke-width: 6;
    marker-end: url(#ic-end);
    marker-start: url(#ic-start);
    marker-mid: url(#panto);
}

path.train.Regio {
    stroke: #B71C1C;
    stroke-width: 6;
    marker-end: url(#regio-end);
    marker-start: url(#regio-start);
    marker-mid: url(#panto);
}

path.train.Profile {
    stroke: #cbd0cc;
    stroke-width: 2;
    marker-start: url(#profile-start);
    marker-end: url(#profile-end);
    marker-mid: url(#profile-hinge);
}

.panto { 
    stroke: #2e3032;
    stroke-width: 10;
}

.train-start {
    fill:#f7b500;
}
.train-end {
    fill: #ff2d21;
}
.lamp {
    fill: inherit;
}
.bumper, .black-windscreen {
    fill:#2e3032;
}
.trafficred {
    fill:#B71C1C;
}
.windowgrey, .windscreen {
    fill:#9da3a6;
}
.lightgrey, .icebody {
    fill:#cbd0cc;
}
.bluegrey, .cap {
    fill: #5b686d;
}

.profileunit circle {
    fill:#2e3032;stroke:#2e3032;stroke-width:1.04764092;
}
.profileunit path {
    fill:#cbd0cc;stroke:#cbd0cc;stroke-width:0.26458332px;stroke-linecap:butt;
}

#elements text {
    visibility: hidden;
}

svg {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

#geo path {
    stroke: #263238;
    stroke-width: 10;
}
#geo path.railway-tram {
    stroke: #B71C1C;
    visibility: hidden;
}

#geo path.tunnel-yes {
    stroke: #546E7A;
}

#geo path.tunnel-yes.railway-tram {
    stroke: #E53935;
}

#geo path.custom-proposed {
    stroke: #E57373;
    visibility: hidden;
}

text.caption {
    text-anchor: end;
    dominant-baseline: hanging;
    font-size: 600px;
}

text.source {
    text-anchor: end;
    dominant-baseline: hanging;
    font-size: 600px;
}

text.shadow {
    visibility: hidden;
    fill: white;
    text-shadow: 1px 1px 2px black;
}
text.corner-text {
    font-size: 1000px;
    dominant-baseline: middle;
}

.IC1, .IC {
    stroke:#E53935;
    background-color: #E53935;
    color: white;
}
.IR {
    stroke:#546E7A;
    background-color: #546E7A;
    color: white;
}

.underthrow {
    stroke: none;
    fill: #90A4AE;
}

#risk line, #tph line, #tt line {
    stroke: #B71C1C;
    stroke-width: 5;
    transform: translate(0, -1px);
}

#tph line, #tt line {
    stroke-width: 15;
}

#tt line.secondary {
    stroke: #546E7A;
}



#risk text, #tph text, #tt text {
    text-anchor: end;
    dominant-baseline: middle;
}
#tt text.right{
    text-anchor: start;
}
#tt text.label {
    font-weight: bold;
    fill: #B71C1C;
}

#tt text.label.secondary {
    fill: #546E7A;   
}

#tt text.path-inset{
    text-anchor: middle;
    fill:white;
    font-size: 10px;
    font-weight: bold;
}

.toplevel {
    opacity: 0;
}

text.heading {
    text-anchor: middle !important;
    font-size:20px;
    font-weight: bold;
}
text.subheading {
    text-anchor: middle !important;
    font-weight: bold;
}
/*
#epoch-label, #epoch-label-bg, text, foreignObject {
    display: none !important;
}
*/

.srcarticle {
    transform-origin: center;
}

#plan path {
    stroke-width: 5;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.U1 {
    stroke:#5bb343;
    background-color:#5bb343;
}
.U2 {
    stroke:#f15921;
    background-color:#f15921;
}
.U3 {
    stroke:#15a796;
    background-color:#15a796;
}
.U4, .for-line div.U4 {
    stroke:#fed304;
    background-color:#fed304;
    color: black;
}
.U5 {
    stroke:#825942;
    background-color:#825942;
}
.U6 {
    stroke:#7a6cac;
    background-color:#7a6cac;
}
.U7 {
    stroke:#069edb;
    background-color:#069edb;
}
.U8 {
    stroke:#01619e;
    background-color:#01619e;
}
.U9 {
    stroke:#f68b1f;
    background-color:#f68b1f;
}

#plan path.Ringbahn {
    stroke: #afafaf;
    stroke-width: 5;
}

.for-line {
    overflow: visible;
    white-space: nowrap;
    font-weight: bold;
}

.for-line * {
    display: inline-block;
}

.for-line div * {
    border-radius: 50%;
    width: 12px;
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
    margin-right: 2px;
    text-align: center;
    color: white;
}

.focusable:focus {
    outline: none;
}

.marker {
    stroke-width: 60;
    stroke:#ff8049;
    visibility: hidden;
    transform: skew(-10deg);
    transform-origin: center;
}
