@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

#elements rect {
    stroke: black;
    fill: white;
    rx: 5;
    stroke-width: 2;
}

.helper {
    stroke: none;
    fill: none;
    visibility: hidden;
    opacity: 0;
}

#elements path {
    stroke: black;
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.5;
}

#elements text, text.caption {
    visibility: hidden;
    fill: white;
    text-shadow: 1px 1px 2px black;
    
}

svg {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 16px;
}


#elements .e12h {
    stroke-width: 8;
}

#elements .e1h {
    stroke-width: 6;
}

#elements .e2h {
    stroke-width: 4;
}

#elements .e4h {
    stroke-width: 2;
}

#elements .some {
    stroke-width: 2;
}

#epoch-label-bg {
    fill:white;
    stroke: black;
    stroke-width: 5px;
}

#epoch-label {
    font-size: 70px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
}

.for-line {
    overflow: visible;
    white-space: nowrap;
    font-weight: bold;
}

.for-line * {
    display: inline-block;
}

.for-line div * {
    border-radius: 50%;
    width: 12px;
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
    margin-right: 2px;
    text-align: center;
}

image.cover {
    x: 15300px;
    y: 9700px;
    width: 1920px;
    height: 1080px;
    visibility: hidden;

}

.caption {
    text-anchor: end;
    dominant-baseline: hanging;
}

#border {
    stroke:#808080;
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}
/*
#epoch-label, #epoch-label-bg, text, foreignObject {
    display: none !important;
}
*/